---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Backend</h2>
		<p>		
			<img 
			src="/assets/logos/php.png" 
			alt="logo php"
			width="45"
			height="45" 
		
		/>
		<img 
			src="/assets/logos/symfony.png" 
			alt="logo symfony"
			width="45"
			height="45" 
		/>
		<img 
			src="/assets/logos/rails.png" 
			alt="logo rails"
			width="45"
			height="45" 
		/>

		<img 
			src="/assets/logos/ruby.png" 
			alt="logo ruby"
			width="45"
			height="45" 
		/>
		<img 
			src="/assets/logos/laravel.png" 
			alt="logo laravel"
			width="45"
			height="45" 
		/>
	</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code-block" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Frontend</h2>
		<p>
			
		<img 
			src="/assets/logos/tailwind.png" 
			alt="logo tailwind"
			width="50"
			height="50" 
		/>

	
			<img 
			src="/assets/logos/javascript.png" 
			alt="logo js"
			width="45"
			height="45" 
		
		/>

		<img 
			src="/assets/logos/typescript.png" 
			alt="logo typescript"
			width="45"
			height="45" 
		/>

		<img 
			src="/assets/logos/angular.png" 
			alt="logo angular"
			width="45"
			height="45" 
		/>

		<img 
			src="/assets/logos/react.png" 
			alt="logo react"
			width="45"
			height="45" 
		/>

		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="database" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Cloud, CI/CD & Database</h2>
		<p>
			<img 
			src="/assets/logos/sql.png" 
			alt="logo sql"
			width="45"
			height="45" 
		/>
			<img 
			src="/assets/logos/mysql.png" 
			alt="logo mysql"
			width="45"
			height="45" 
		/>
		<img 
			src="/assets/logos/postgresql.png" 
			alt="logo postgresql"
			width="45"
			height="45" 
		/>

		<img 
			src="/assets/logos/aws.png" 
			alt="logo aws"
			width="45"
			height="45" 
		/>
		<img 
			src="/assets/logos/docker.png" 
			alt="logo docker"
			width="45"
			height="45" 
		/>
		<img 
			src="/assets/logos/git.png" 
			alt="logo git"
			width="45"
			height="45" 
		/>
	</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
